.register {
  display: none;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;

  &__input {
    @extend .chat__input;
    flex: 0 0 85%;
    max-width: 85%;
    border-radius: 5px 0 0 5px;
  }

  &__button {
    @extend .chat__button;
  }

  &.active {
    display: flex;
  }
}

.register-error {
  display: none;
  text-align: center;
  color: red;
  padding-bottom: 10px;
}

